#app-mount { background: var(--BG-image) center/cover fixed !important; }

#app-mount .wrapper-1Rf91z:before {
    height: calc(100% + var(--BG-image-blur) * 4);
    width: calc(100% + var(--BG-image-blur) * 4);
    left: calc(var(--BG-image-blur) / -1 * 1);
    top: calc(var(--BG-image-blur) / -1 * 1);
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, var(--BG-serverlist-brightness));
    position: absolute;
    content: "";
}

#app-mount .sidebar-2K8pFh,
#app-mount .menu-Sp6bN1,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb,
#app-mount .regionSelectModal-12e-57,
#app-mount .sidebarRegion-VFTUkN {
    position: relative;
    background: transparent;
}

#app-mount .sidebar-2K8pFh:before,
#app-mount .menu-Sp6bN1:before,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb:before,
#app-mount .regionSelectModal-12e-57:before,
#app-mount .sidebarRegion-VFTUkN:before {
    height: calc(100% + var(--BG-image-blur) * 6);
    width: calc(100% + var(--BG-image-blur) * 6);
    left: calc(var(--BG-image-blur) / -1 * 3);
    top: calc(var(--BG-image-blur) / -1 * 3);
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, var(--BG-left-brightness));
    position: absolute;
    content: "";
}

#app-mount .activityFeed-1C0EmJ,
#app-mount .applicationStore-1pNvnv,
#app-mount .da-chat,
#app-mount .container-3gCOGc,
#app-mount .contentRegion-3nDuYy,
#app-mount .errorPage-u8SYh4,
#app-mount .gameLibrary-TTDw4Y,
#app-mount .pageWrapper-1PgVDX,
#app-mount .root-SR8cQa,
#app-mount .stickyHeader-1pqx0j,
#app-mount .uploadModal-2ifh8j,
#app-mount .keyboardShortcutsModal-3piNz7,
#app-mount .quickswitcher-3JagVE,
#app-mount .root-1BQpZw,
#app-mount .bd-modal-inner,
#app-mount .content-1-zrf2 { overflow: hidden; }

#app-mount .activityFeed-1C0EmJ:before,
#app-mount .applicationStore-1pNvnv:before,
#app-mount .da-chat:before,
#app-mount .container-3gCOGc:before,
#app-mount .contentRegion-3nDuYy:before,
#app-mount .errorPage-u8SYh4:before,
#app-mount .gameLibrary-TTDw4Y:before,
#app-mount .pageWrapper-1PgVDX:before,
#app-mount .root-SR8cQa:before,
#app-mount .stickyHeader-1pqx0j:before,
#app-mount .uploadModal-2ifh8j:before,
#app-mount .keyboardShortcutsModal-3piNz7:before,
#app-mount .quickswitcher-3JagVE:before,
#app-mount .root-1BQpZw:before,
#app-mount .bd-modal-inner:before,
#app-mount .content-1-zrf2:before {
    height: calc(100% + var(--BG-image-blur) * 4);
    width: calc(100% + var(--BG-image-blur) * 5);
    left: calc(var(--BG-image-blur) / -1 * 3);
    top: calc(var(--BG-image-blur) / -1 * 2);
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, var(--BG-right-brightness));
    position: absolute;
    content: "";
}

#app-mount .authBox-hW6HRx,
#app-mount .autocomplete-1vrmpx,
#app-mount .autocompleteShadow-iiGWFU,
#app-mount .container-2x5lvQ,
#app-mount .container-3ayLPN,
#app-mount .container-3cGP6G,
#app-mount .css-1rckt42-menu,
#app-mount .modal-yWgWj-,
#app-mount .modal-yWgWj-.modal-1sor29,
#app-mount .modal-yWgWj-.modal-c2O6Xq,
#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy,
#app-mount .popoutContainerMinimal-yvdYAP .scrollerWrap-2lJEkd.scrollerThemed-2oenus,
#app-mount .queryContainer-RKFJW-.focused-2bY0OD,
#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W,
#app-mount .reply-list,
#app-mount .userPopout-3XzG_A,
#app-mount .messagesPopoutWrap-1MQ1bW,
#app-mount .css-181m2lf-menu,
#app-mount .overflowRolesPopout-140n9i,
#app-mount .popout-3G62UL,
#app-mount .membersFilterPopout-URUUD-,
#app-mount .colorPickerCustom-2CWBn2,
#app-mount .react-datepicker,
#app-mount #bd-customcss-detach-container,
#app-mount .popout-googletranslate .themedPopout-1TrfdI,
#app-mount .root-1gCeng.small-3iVZYw,
#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE,
#app-mount .searchResultsContainer-1ma_dc { overflow: hidden; }

#app-mount .authBox-hW6HRx:before,
#app-mount .autocomplete-1vrmpx:before,
#app-mount .autocompleteShadow-iiGWFU:before,
#app-mount .container-2x5lvQ:before,
#app-mount .container-3ayLPN:before,
#app-mount .container-3cGP6G:before,
#app-mount .css-1rckt42-menu:before,
#app-mount .modal-yWgWj-:before,
#app-mount .modal-yWgWj-.modal-1sor29:before,
#app-mount .modal-yWgWj-.modal-c2O6Xq:before,
#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy:before,
#app-mount .popoutContainerMinimal-yvdYAP .scrollerWrap-2lJEkd.scrollerThemed-2oenus:before,
#app-mount .queryContainer-RKFJW-.focused-2bY0OD:before,
#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W:before,
#app-mount .reply-list:before,
#app-mount .userPopout-3XzG_A:before,
#app-mount .messagesPopoutWrap-1MQ1bW:before,
#app-mount .css-181m2lf-menu:before,
#app-mount .overflowRolesPopout-140n9i:before,
#app-mount .popout-3G62UL:before,
#app-mount .membersFilterPopout-URUUD-:before,
#app-mount .colorPickerCustom-2CWBn2:before,
#app-mount .react-datepicker:before,
#app-mount #bd-customcss-detach-container:before,
#app-mount .popout-googletranslate .themedPopout-1TrfdI:before,
#app-mount .root-1gCeng.small-3iVZYw:before,
#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE:before,
#app-mount .searchResultsContainer-1ma_dc:before {
    height: calc(100% + var(--BG-image-blur) * 4);
    width: calc(100% + var(--BG-image-blur) * 5);
    left: calc(var(--BG-image-blur) / -1 * 3);
    top: calc(var(--BG-image-blur) / -1 * 2);
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, var(--BG-popout-brightness));
    position: absolute;
    z-index: -1;
    content: "";
}