﻿/* ---------- CODE BLOCKS START ---------- */

.css:before,
.js:before,
.javascript:before,
.cs:before,
.php:before,
.java:before,
.csharp:before,
.c:before,
.cpp:before,
.coffeescript:before,
.bash:before,
.bat:before,
.html:before,
.apache:before,
.diff:before,
.http:before,
.json:before,
.markdown:before,
.makfile:before,
.nginx:before,
.perl:before,
.properties:before,
.ruby:before,
.python:before,
.shell:before,
.sql:before,
.powershell:before,
.xml:before,
.objectivec:before,
.CSS:before,
.py:before,
.ts:before,
.typescript:before,
.scss:before,
.less:before {
    padding: 1px 7px 1px 7px;
    display: flex;
    width: fit-content;
    color: #fff;
    border-radius: 4px 4px 0 0;
    background: rgba(0, 0, 0, .9);
}

.css:before { content: "CSS"; }

.js:before { content: "Javascript"; }

.javascript:before { content: "Javascript"; }

.php:before { content: "PHP"; }

.java:before { content: "Java"; }

.csharp:before { content: "C#"; }

.cs:before { content: "C#"; }

.c:before { content: "C"; }

.cpp:before { content: "C++"; }

.coffeescript:before { content: "Coffeescript"; }

.bash:before { content: "Bash"; }

.bat:before { content: "Batch"; }

.html:before { content: "HTML"; }

.apache:before { content: "Apache"; }

.diff:before { content: "Diff"; }

.http:before { content: "HTTP"; }

.json:before { content: "JSON"; }

.markdown:before { content: "Markdown"; }

.makfile:before { content: "Makefile"; }

.nginx:before { content: "Nginx"; }

.perl:before { content: "Perl"; }

.properties:before { content: "Properties"; }

.ruby:before { content: "Ruby"; }

.python:before { content: "Python"; }

.shell:before { content: "Shell"; }

.sql:before { content: "SQL"; }

.powershell:before { content: "PowerShell"; }

.xml:before { content: "XML"; }

.objectivec:before { content: "Objective-C"; }

.CSS:before { content: "CSS"; }

.py:before { content: "PY"; }

.ts:before { content: "TypeScript"; }

.typescript:before { content: "TypeScript"; }

.scss:before { content: "SCSS"; }

.less:before { content: "Less CSS"; }

#app-mount .da-chat .da-messagesWrapper pre {
    background: rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
}

#app-mount .da-chat .da-messagesWrapper pre code { overflow: hidden; }

#app-mount .da-chat .da-messagesWrapper code { background: rgba(0, 0, 0, 0.5); }

/* ---------- CODE BLOCKS END ---------- */

/* ---------- TOOLTIPS START ---------- */

#app-mount .bubble-3we2di {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    color: #fff;
}

#app-mount .bubble-3we2di:before { content: none; }

#app-mount .tooltip-2QfLtc .tooltipPointer-3ZfirK { display: none; }

#app-mount .tooltipBrand-g03Nz8,
#app-mount .tooltipBlack-PPG47z,
#app-mount .tooltipRed-8-9NeP {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    color: #fff;
}

#app-mount .tooltipBlack-PPG47z { text-align: center; }

/* ---------- TOOLTIPS END ---------- */

/* ---------- KEYFRAMES START ---------- */

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(5px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-5px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutBottom {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateY(-5px);
    }
}

/* ---------- KEYFRAMES END ---------- */

/* ---------- SCROLLBARS START ---------- */

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    border: none !important;
    background-clip: content-box !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

::-webkit-scrollbar-corner { visibility: hidden !important; }

.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-corner,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeHidden-2yP93k .scroller-2FKFPG::-webkit-scrollbar { display: none !important; }

/* ---------- SCROLLBARS END ---------- */