#app-mount .sidebar-2K8pFh {
    overflow: hidden;
    margin-right: var(--BG-left-right-split);
    border-radius: 0;
}

#app-mount .sidebar-2K8pFh .searchBar-6Kv8R2 { box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

#app-mount .sidebar-2K8pFh .searchBar-6Kv8R2 .container-2XeR5Z { background: transparent; }

#app-mount .sidebar-2K8pFh .clickable-23RaYz:hover .content-3xS9Lh { background: rgba(255, 255, 255, 0.05); }

#app-mount .sidebar-2K8pFh .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .sidebar-2K8pFh .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh .username-lm8y6T { color: #fff; }

#app-mount .sidebar-2K8pFh .moreUsers-7v8yWY {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    color: #fff;
}

#app-mount .sidebar-2K8pFh .flowerStar-1GeTsn path { fill: rgba(var(--BG-gradient-one), 1); }

#app-mount .sidebar-2K8pFh .premiumGuildIconGem-C4yUDR { color: #fff; }

#app-mount .sidebar-2K8pFh .channel-2QD9_O { color: #fff; }

#app-mount .sidebar-2K8pFh .channel-2QD9_O:hover a { background: rgba(255, 255, 255, 0.1); }

#app-mount .sidebar-2K8pFh .channel-2QD9_O:hover a .name-2WpE7M { color: #fff; }

#app-mount .sidebar-2K8pFh .channel-2QD9_O.selected-1HYmZZ .linkButtonIcon-Mlm5d6 { color: #fff; }

#app-mount .sidebar-2K8pFh .channel-2QD9_O:not(.selected-1HYmZZ) .name-2WpE7M { color: rgba(255, 255, 255, 0.5); }

#app-mount .sidebar-2K8pFh .channel-2QD9_O.selected-1HYmZZ a,
#app-mount .sidebar-2K8pFh .bar-30k2ka { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .sidebar-2K8pFh .container-PNkimc { background: transparent; }

#app-mount .sidebar-2K8pFh .container-PNkimc .header-2o-2hj {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: transparent !important;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .header-2o-2hj.withBanner-3j8ruM { background: transparent; }

#app-mount .sidebar-2K8pFh .container-PNkimc div[style="width: 100%; height: 84px; visibility: hidden;"] { height: 120px !important; }

#app-mount .sidebar-2K8pFh .container-PNkimc .animatedContainer-1pJv5C {
    margin-top: 48px;
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0) 100%) !important;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-3GGEv_ .wrapper-CU3qI5 .name-IbjUBS,
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-3GGEv_ .wrapper-CU3qI5 .icon-WnO6o2 {
    color: #fff;
    opacity: .4;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-3GGEv_ .wrapper-CU3qI5:hover .name-IbjUBS,
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-3GGEv_ .wrapper-CU3qI5:hover .icon-WnO6o2 { opacity: 1; }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .modeMuted-3osy7j svg { color: rgba(255, 255, 255, 0.2); }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .modeMuted-3osy7j .name-3_Dsmg {
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j) svg,
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j) .name-3_Dsmg {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j).modeUnread-1zpFdA .unread-3zKkbm { background: #fff; }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j).modeUnread-1zpFdA .content-3at_AU { background: rgba(255, 255, 255, 0.05); }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j).modeUnread-1zpFdA .content-3at_AU svg,
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq .wrapper-1ucjTd:not(.modeMuted-3osy7j).modeUnread-1zpFdA .content-3at_AU .name-3_Dsmg { color: #fff; }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq:hover .content-3at_AU { background: rgba(255, 255, 255, 0.1); }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU svg,
#app-mount .sidebar-2K8pFh .container-PNkimc .containerDefault-1ZnADq.selected-37j_iU .content-3at_AU .name-3_Dsmg {
    color: #fff;
    font-weight: 500;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .userLimit-64AFxe .wrapper-pZmgj4 { color: #fff; }

#app-mount .sidebar-2K8pFh .container-PNkimc .userLimit-64AFxe .wrapper-pZmgj4 .users-i_3-kL {
    background: rgba(255, 255, 255, 0.1);
    padding: 0 5px;
    width: auto;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .userLimit-64AFxe .wrapper-pZmgj4 .total-3tKGEB {
    background: rgba(255, 255, 255, 0.2);
    padding: 0 5px;
    width: auto;
}

#app-mount .sidebar-2K8pFh .container-PNkimc .userLimit-64AFxe .wrapper-pZmgj4 .total-3tKGEB:after { content: none; }

#app-mount .sidebar-2K8pFh .privateChannels-1nO12o { background: transparent; }

#app-mount .sidebar-2K8pFh .privateChannels-1nO12o header { opacity: .5; }

#app-mount .sidebar-2K8pFh .panels-j1Uci_ {
    position: relative;
    background: transparent;
}

#app-mount .sidebar-2K8pFh .panels-j1Uci_ .container-1giJp5 { border: none; }

#app-mount .sidebar-2K8pFh .panels-j1Uci_ .container-3baos1 { border: none; }