#app-mount .da-chat { background: transparent; }

#app-mount .da-chat .content-yTz4x3 {
    background: transparent;
    position: relative;
    z-index: 1;
}

#app-mount .da-chat .welcomeMessage-3_Mcht h1 {
    background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 18px;
    text-shadow: none !important;
}

#app-mount .da-chat .welcomeMessage-3_Mcht p { color: #fff; }

#app-mount .da-chat .reaction-1ELvT8 { background: rgba(255, 255, 255, 0.1); }

#app-mount .da-chat .reaction-1ELvT8.reactionMe-23mbRf { background: rgba(255, 255, 255, 0.2); }

#app-mount .da-chat .reaction-1ELvT8.reactionMe-23mbRf .reactionCount-2ddRoS { color: #fff; }

#app-mount .da-chat .isMentioned-N-h9aa { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.3), rgba(var(--BG-gradient-two), 0.3)) !important; }

#app-mount .da-chat .isMentioned-N-h9aa:after {
    background: transparent;
    border-color: rgba(var(--BG-gradient-one), 1);
}

#app-mount .da-chat .isLocalBot-38G0P0 {
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .da-chat .isLocalBot-38G0P0 .anchor-3Z-8Bb {
    color: rgba(var(--BG-gradient-one), 1);
    font-weight: bold;
}

#app-mount .da-chat .wrapper-3t9DeA { user-select: none; }

#app-mount .da-chat blockquote {
    border-color: rgba(var(--BG-gradient-one), 1);
    background: rgba(0, 0, 0, 0.3);
    padding: 8px 8px 8px 12px;
}

#app-mount .da-chat .hasMore-3e72_v button,
#app-mount .da-chat .mention,
#app-mount .da-chat .wrapper-3WhCwL,
#app-mount .da-chat .botTagRegular-2HEhHi:not(.TRE-tag) {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
    color: #fff;
    border: none !important;
    font-weight: 600 !important;
}

#app-mount .da-chat .akaBadge-1M-1Gw { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .da-chat .newMessagesBar-mujexs,
#app-mount .da-chat .jumpToPresentBar-9P20AM,
#app-mount .da-chat .actionRed-gYn8D3 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .da-chat .operations-36ENbA > a {
    font-weight: 700;
    color: rgba(var(--BG-gradient-one), 1);
}

#app-mount .da-chat .da-messagesWrapper {
    background: transparent;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#app-mount .da-chat .da-messagesWrapper .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI { color: rgba(255, 255, 255, 0.6); }

#app-mount .da-chat .da-messagesWrapper .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before,
#app-mount .da-chat .da-messagesWrapper .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .da-chat .da-messagesWrapper .buttonContainer-37UsAw [role="button"] {
    opacity: 1;
    filter: brightness(2);
}

#app-mount .da-chat .da-messagesWrapper .dividerEnabled-2TTlcf { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .da-chat .da-messagesWrapper .markup-2BOw-j { color: #fff; }

#app-mount .da-chat .da-messagesWrapper .imageZoom-1n-ADA { box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

#app-mount .da-chat .da-messagesWrapper [class*="timestamp"] { color: rgba(255, 255, 255, 0.7); }

#app-mount .da-chat .da-messagesWrapper .messageGroupBlockedBtn-1PBBh- {
    background: transparent;
    color: #fff;
}

#app-mount .da-chat .da-messagesWrapper .messageGroupBlocked-3wrQQX {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .da-chat .da-messagesWrapper .embedFull-2tM8-- { background: rgba(0, 0, 0, 0.3); }

#app-mount .da-chat .da-messagesWrapper .embedFull-2tM8-- .embedFooterText-28V_Wb,
#app-mount .da-chat .da-messagesWrapper .embedFull-2tM8-- .embedFooterSeparator-3klTIQ { color: #fff; }

#app-mount .da-chat .da-messagesWrapper .embedFull-2tM8-- .embedFieldName-NFrena { color: #aaa; }

#app-mount .da-chat .da-messagesWrapper .attachment-33OFj0 {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .da-chat .da-messagesWrapper .attachment-33OFj0 .metadata-3WGS0M { color: #fff; }

#app-mount .da-chat .da-messagesWrapper .wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI {
    border: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .da-chat .da-messagesWrapper .wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI .guildName-2hvnt_,
#app-mount .da-chat .da-messagesWrapper .wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI .h5-18_1nd { color: #fff; }

#app-mount .da-chat .da-messagesWrapper .wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI .onlineCount-w6_WmG,
#app-mount .da-chat .da-messagesWrapper .wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI span { color: #aaa; }

#app-mount .da-chat .da-messagesWrapper .textAreaEdit-bNLDk3 { max-height: 700px; }

#app-mount .da-chat .da-messagesWrapper .inner-zqa7da { background: rgba(255, 255, 255, 0.1); }

#app-mount .da-chat .typing-2GQL18 { background: transparent; }

#app-mount .da-chat .typing-2GQL18 span { color: #fff; }

#app-mount .button-2vd_v_ { opacity: .4; }

#app-mount .button-2vd_v_:hover { opacity: 1; }

#app-mount .wrapper-39oAo3 { background: rgba(0, 0, 0, 0.3); }

#app-mount form { background: transparent; }

#app-mount form .inner-zqa7da { background: rgba(255, 255, 255, 0.1); }

#app-mount form .inner-zqa7da textarea { font-weight: 500; }

#app-mount form .inner-zqa7da textarea::placeholder { font-weight: 500; }

#app-mount form .inner-zqa7da .attachButtonDivider-3Glu60 { background-color: rgba(255, 255, 255, 0.05); }

#app-mount form .channelTextArea-rNsIhG { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .progressBar-3u8FBM { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .wrapper-29NfPK { background: transparent; }

#app-mount .wrapper-29NfPK .video-1FfuMD { background: rgba(0, 0, 0, 0.3); }

#app-mount .wrapper-29NfPK .video-1FfuMD .actions-2vadYq .center-1Vp33r {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 18px;
}