/**
 * @name Darkened Glass
 * @author WildWolf#0001
 * @version 1.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Discord Dark theme is required via the Appearance tab.
 * @source https://gitlab.com/WildWolf/wwd/tree/master/DarkenedGlass.theme.css
 * @website https://gibbu.me/
*/

@import url(https://gitlab.com/WildWolf/wwd/raw/master/background.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/base.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/channels.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/chat.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/general.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/headers.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/home.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/lists.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/modals.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/popouts.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/other.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/server.css);
@import url(https://gitlab.com/WildWolf/wwd/raw/master/settings.css);

:root {
    --blurple: #7289da;
    --nitro: #ff73fa;
    --red: #f04747;
    --BG-image: url('https://screenshots.wildwolf.dev/cec36ea862.jpg');
    --BG-image-blur: 2px;
    --BG-serverlist-brightness: 0.8;
    --BG-left-brightness: 0.8;
    --BG-right-brightness: 0.6;
    --BG-popout-brightness: 0.7;
    --BG-gradient-one: 103, 58, 183;
    --BG-gradient-two: 63, 81, 181;
    --BG-gradient-direction: -45deg;
    --BG-window-padding: 20px;
    --BG-window-roundness: 10px;
    --BG-left-right-split: 0;
}
