html,
span:not([class*="spinner-"]):not([class*="spinnerItem"]) { backface-visibility: hidden; }

.appMount-3lHmkl,
body { background: transparent !important; }

#app-mount {
    background-color: transparent !important;
    background: var(--BG-image) !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
}

#app-mount .scroller-2FKFPG { background: transparent !important; }

#app-mount .layers-3iHuyZ,
#app-mount .layer-3QrUeG,
#app-mount .container-2lgZY8,
#app-mount .appMount-3lHmkl,
#app-mount body,
#app-mount .bg-h5JY_x { background: transparent !important; }

#app-mount .mediaBarProgress-1xaPtl,
#app-mount .mediaBarProgress-1xaPtl:after,
#app-mount .mediaBarProgress-1xaPtl:before { background: rgba(var(--BG-gradient-one), 1); }

#app-mount .lookFilled-1Gx00P.colorBrand-3pXr91,
#app-mount .themeDefault-24hCdX.valueChecked-m-4IJZ,
#app-mount .overflowPlayerCount-_jrNfw,
#app-mount .mediaBarGrabber-1FqnbN,
#app-mount .keybindShortcut-1BD6Z1 span,
#app-mount .wanderingCubesItem-WPXqao { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .downloadProgress-3lBtPV .circleBackground-OqqxHM,
#app-mount .downloadProgressCircle-3_wgim .circleBackground-OqqxHM {
    fill: rgba(var(--BG-gradient-one), 1);
    stroke: rgba(var(--BG-gradient-one), 0.5);
}

#app-mount .downloadProgress-3lBtPV .circleProgress-1EBmVn,
#app-mount .downloadProgressCircle-3_wgim .circleProgress-1EBmVn { stroke: #fff; }

#app-mount ::selection {
    background: rgba(var(--BG-gradient-two), 1);
    color: #fff !important;
}

#app-mount .callAvatarBorder-1D_KaE.video-3GgX2M.selected-2esnyn:not(.speaking-oCqYMI):not(.soundsharing-102bS9) { box-shadow: inset 0 0 0 2px rgba(var(--BG-gradient-one), 1); }

#app-mount .videoHeight-Qp_9vC.noChat-3nt48u { height: calc(100vh - 40px); }

#app-mount .themeDefault-24hCdX { background: rgba(255, 255, 255, 0.15); }

#app-mount .checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked + span {
    background: rgba(var(--BG-gradient-one), 1);
    border-color: transparent;
}

#app-mount .keybindShortcutTipsSelect-HDyfe8:last-of-type:before { background: rgba(255, 255, 255, 0.1); }

#app-mount .layers-3iHuyZ { border-radius: 0 var(--BG-window-roundness) var(--BG-window-roundness) 0; }

#app-mount .app-2rEoOp {
    background: transparent;
    padding: var(--BG-window-padding);
}

#app-mount .css-15ejc46-control,
#app-mount .css-13kbzi0-control,
#app-mount .lookFilled-1h1y05.select-1Pkeg4 {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .option-n0icdO {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
}

#app-mount .option-n0icdO:hover { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.5) 20%, rgba(var(--BG-gradient-two), 0.5)); }

#app-mount .flowerStar-1GeTsn path { fill: rgba(var(--BG-gradient-one), 1); }

#app-mount .css-2yldzf-control,
#app-mount .css-1yegjoj-control {
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

#app-mount .css-1gnr91b-option { background: rgba(0, 0, 0, 0.3); }

#app-mount .css-181m2lf-menu {
    border: none;
    box-shadow: none;
}

#app-mount .css-1k00wn6-singleValue { color: #fff; }

#app-mount .radioGroup-1GBvlr .item-26Dhrx {
    border: none;
    display: flex;
    align-items: center;
}

#app-mount .radioGroup-1GBvlr .item-26Dhrx .checkboxWrapper-SkhIWG { margin-left: 10px; }

#app-mount .radioGroup-1GBvlr .item-26Dhrx .info-3LOr12 { margin-left: 25px; }

#app-mount .radioGroup-1GBvlr .item-26Dhrx .checkbox-1ix_J3 { border-color: #fff !important; }

#app-mount .radioGroup-1GBvlr .item-26Dhrx[style*="background-color: rgb(114, 137, 218);"] { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .radioGroup-1GBvlr .item-26Dhrx:not([style*="background-color"]) { background: rgba(0, 0, 0, 0.3); }

#app-mount .radioGroup-1GBvlr .item-26Dhrx:not([style*="background-color"]) .desc-2Dttbk { color: rgba(255, 255, 255, 0.5); }