﻿#app-mount .title-3qD0b-,
#app-mount .libraryHeader-3g95kE,
#app-mount .headerBar-1YYOfi,
#app-mount .container-1r6BKw {
    background: transparent;
    box-shadow: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#app-mount .title-3qD0b- .lookFilled-1Gx00P.colorPrimary-3b3xI6,
#app-mount .libraryHeader-3g95kE .lookFilled-1Gx00P.colorPrimary-3b3xI6,
#app-mount .headerBar-1YYOfi .lookFilled-1Gx00P.colorPrimary-3b3xI6,
#app-mount .container-1r6BKw .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .title-3qD0b- .children-19S4PO:after,
#app-mount .libraryHeader-3g95kE .children-19S4PO:after,
#app-mount .headerBar-1YYOfi .children-19S4PO:after,
#app-mount .container-1r6BKw .children-19S4PO:after { content: none; }

#app-mount .title-3qD0b- .input-2A_zIr,
#app-mount .libraryHeader-3g95kE .input-2A_zIr,
#app-mount .headerBar-1YYOfi .input-2A_zIr,
#app-mount .container-1r6BKw .input-2A_zIr {
    border: none;
    box-shadow: none;
}

#app-mount .title-3qD0b- .input-2A_zIr:hover,
#app-mount .libraryHeader-3g95kE .input-2A_zIr:hover,
#app-mount .headerBar-1YYOfi .input-2A_zIr:hover,
#app-mount .container-1r6BKw .input-2A_zIr:hover { background: rgba(255, 255, 255, 0.05); }

#app-mount .title-3qD0b- .input-2A_zIr:focus,
#app-mount .libraryHeader-3g95kE .input-2A_zIr:focus,
#app-mount .headerBar-1YYOfi .input-2A_zIr:focus,
#app-mount .container-1r6BKw .input-2A_zIr:focus { background: rgba(255, 255, 255, 0.1); }

#app-mount .title-3qD0b- .icon-22AiRD,
#app-mount .title-3qD0b- .topic-TCb_qw,
#app-mount .title-3qD0b- .title-29uC1r,
#app-mount .libraryHeader-3g95kE .icon-22AiRD,
#app-mount .libraryHeader-3g95kE .topic-TCb_qw,
#app-mount .libraryHeader-3g95kE .title-29uC1r,
#app-mount .headerBar-1YYOfi .icon-22AiRD,
#app-mount .headerBar-1YYOfi .topic-TCb_qw,
#app-mount .headerBar-1YYOfi .title-29uC1r,
#app-mount .container-1r6BKw .icon-22AiRD,
#app-mount .container-1r6BKw .topic-TCb_qw,
#app-mount .container-1r6BKw .title-29uC1r { color: #fff; }

#app-mount .title-3qD0b- .item-PXvHYJ:hover,
#app-mount .libraryHeader-3g95kE .item-PXvHYJ:hover,
#app-mount .headerBar-1YYOfi .item-PXvHYJ:hover,
#app-mount .container-1r6BKw .item-PXvHYJ:hover { background: rgba(0, 0, 0, 0.3); }

#app-mount .title-3qD0b- .item-PXvHYJ.selected-3s45Ha,
#app-mount .libraryHeader-3g95kE .item-PXvHYJ.selected-3s45Ha,
#app-mount .headerBar-1YYOfi .item-PXvHYJ.selected-3s45Ha,
#app-mount .container-1r6BKw .item-PXvHYJ.selected-3s45Ha { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .divider-3FBTu8 { background: rgba(255, 255, 255, 0.1); }

#app-mount .searchBar-3dMhjb,
#app-mount .searchBar-TUoVPN,
#app-mount .searchBar-s2JxlI { background: rgba(0, 0, 0, 0.3); }

#app-mount .searchBar-3dMhjb .public-DraftEditorPlaceholder-root,
#app-mount .searchBar-TUoVPN .public-DraftEditorPlaceholder-root,
#app-mount .searchBar-s2JxlI .public-DraftEditorPlaceholder-root {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}

#app-mount .searchBar-3dMhjb .searchFilter-2ESiM3,
#app-mount .searchBar-TUoVPN .searchFilter-2ESiM3,
#app-mount .searchBar-s2JxlI .searchFilter-2ESiM3 { background: rgba(255, 255, 255, 0.1); }

#app-mount .searchBar-3dMhjb .searchAnswer-3Dz2-q,
#app-mount .searchBar-TUoVPN .searchAnswer-3Dz2-q,
#app-mount .searchBar-s2JxlI .searchAnswer-3Dz2-q {
    background: rgba(255, 255, 255, 0.1);
    margin-left: 0;
}