﻿#app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
    position: relative;
}

#app-mount .activityFeed-1C0EmJ .h5-18_1nd { color: #fff; }

#app-mount .activityFeed-1C0EmJ .layout-1cQCv2 { background: none; }

#app-mount .activityFeed-1C0EmJ .section-2VKIPC { background: transparent; }

#app-mount .activityFeed-1C0EmJ .popoutContainer-3WC9HR:hover { background: rgba(0, 0, 0, 0.3); }

#app-mount .activityFeed-1C0EmJ .outer-2IVh5n { background: rgba(0, 0, 0, 0.3); }

#app-mount .activityFeed-1C0EmJ .outer-2IVh5n .colorStandard-2KCXvj { color: #fff; }

#app-mount .activityFeed-1C0EmJ .outer-2IVh5n .colorMuted-HdFt4q { color: rgba(255, 255, 255, 0.5); }

#app-mount .activityFeed-1C0EmJ .popout-3G62UL {
    background: transparent;
    box-shadow: none;
}

#app-mount .activityFeed-1C0EmJ .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover { background: rgba(0, 0, 0, 0.3); }

#app-mount .activityFeed-1C0EmJ .separator-2c4hi3 { background: rgba(0, 0, 0, 0.1); }

#app-mount .activityFeed-1C0EmJ .unwrapped-37iUtM,
#app-mount .activityFeed-1C0EmJ .inset-GQDQYw,
#app-mount .activityFeed-1C0EmJ .recentlyPlayedContainer-2F3MqS { background-color: rgba(0, 0, 0, 0.3); }

#app-mount .activityFeed-1C0EmJ .wrapper-9ppXpy { box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

#app-mount .activityFeed-1C0EmJ .container-1r6BKw {
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#app-mount .activityFeed-1C0EmJ .container-1r6BKw .icon-22AiRD { color: #fff; }

#app-mount .activityFeed-1C0EmJ .container-1r6BKw .children-19S4PO:after { content: none; }

#app-mount .activityFeed-1C0EmJ .buttonColor-1agP3J { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .pageWrapper-1PgVDX { background: transparent; }

#app-mount .pageWrapper-1PgVDX > img { display: none; }

#app-mount .pageWrapper-1PgVDX .loading-17PYl_ { background: rgba(0, 0, 0, 0.3); }

#app-mount .pageWrapper-1PgVDX .searchBox-3Y2Vi7,
#app-mount .pageWrapper-1PgVDX .css-1wqqa50-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .pageWrapper-1PgVDX .searchHelpText-19imBp,
#app-mount .pageWrapper-1PgVDX .description-2QALGo { color: #fff; }

#app-mount .pageWrapper-1PgVDX .searchHelpText-19imBp:not(.searchHelpTextVisible-1mRnNd) { opacity: 0; }

#app-mount .pageWrapper-1PgVDX .css-1rckt42-menu {
    background: transparent;
    border: none;
}

#app-mount .pageWrapper-1PgVDX .guildList-1ItbxP .card-3DjzTQ {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: none;
}

#app-mount .pageWrapper-1PgVDX .sectionSeparator-2OWiNT { border-top-color: rgba(0, 0, 0, 0.1); }

#app-mount .pageWrapper-1PgVDX .activeButton-1BJAiN { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .gameLibrary-TTDw4Y {
    background: transparent;
    position: relative;
}

#app-mount .gameLibrary-TTDw4Y .item-PXvHYJ { color: #fff; }

#app-mount .gameLibrary-TTDw4Y .item-PXvHYJ.selected-3s45Ha { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .gameLibrary-TTDw4Y .stickyHeader-1pqx0j {
    background: transparent;
    overflow: hidden;
}

#app-mount .gameLibrary-TTDw4Y .stickyHeader-1pqx0j > div { position: relative; }

#app-mount .gameLibrary-TTDw4Y .stickyHeader-1pqx0j .headerCell-3L6rFG {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

#app-mount .gameLibrary-TTDw4Y .stickyHeader-1pqx0j .headerCellSorted-3a5AzJ { color: #fff; }

#app-mount .gameLibrary-TTDw4Y .gameUpdates-2GPqBU { background: rgba(0, 0, 0, 0.3); }

#app-mount .gameLibrary-TTDw4Y .gameUpdates-2GPqBU .progress-5tMCVk,
#app-mount .gameLibrary-TTDw4Y .gameUpdates-2GPqBU .progress-2XXRYo { background: rgba(0, 0, 0, 0.3) !important; }

#app-mount .gameLibrary-TTDw4Y .gameUpdates-2GPqBU .progress-5tMCVk { background-color: rgba(0, 0, 0, 0.3) !important; }

#app-mount .gameLibrary-TTDw4Y .gameUpdates-2GPqBU .progressBar-3zryPV { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .gameLibrary-TTDw4Y .textCell-1aBIUP,
#app-mount .gameLibrary-TTDw4Y .icon-1IKq3C { color: #fff; }

#app-mount .gameLibrary-TTDw4Y .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background: rgba(0, 0, 0, 0.3); }

#app-mount .gameLibrary-TTDw4Y .lookFilled-1Gx00P.colorGreen-29iAKY { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .gameLibrary-TTDw4Y .rowWrapperActive-2L7i9f {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .gameLibrary-TTDw4Y .rowWrapper-2fB6P0 + .rowWrapper-2fB6P0 .row-ZLfFhY { border-top-color: rgba(255, 255, 255, 0.05); }

#app-mount .applicationStore-1pNvnv {
    background: transparent;
    position: relative;
}

#app-mount .applicationStore-1pNvnv .itemBackground-2vEldQ {
    background: transparent;
    background-position: center;
    background-size: cover;
}

#app-mount .applicationStore-1pNvnv .itemBackground-2vEldQ:before { background: rgba(0, 0, 0, 0.8); }

#app-mount .applicationStore-1pNvnv .tileMedia-1q3guD { background: rgba(0, 0, 0, 0.3); }

#app-mount .applicationStore-1pNvnv .tileMedia-1q3guD .loadingContainer-138F59,
#app-mount .applicationStore-1pNvnv .tileMedia-1q3guD .mediaFade-1SdEfL { background: transparent; }

#app-mount .applicationStore-1pNvnv .whyYouMightLikeIt-2zZIIj,
#app-mount .applicationStore-1pNvnv .content-35aVm0,
#app-mount .applicationStore-1pNvnv .item-2yFVoY { background: rgba(0, 0, 0, 0.3); }

#app-mount .applicationStore-1pNvnv .bodySection-jqkkIP {
    background: rgba(0, 0, 0, 0.3);
    border-top-color: rgba(0, 0, 0, 0.3);
}

#app-mount .applicationStore-1pNvnv .bodySection-jqkkIP .skuNormal-3h1es- { border-bottom-color: rgba(0, 0, 0, 0.3); }

#app-mount .applicationStore-1pNvnv .bodySection-jqkkIP .price-NUANu6 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .applicationStore-1pNvnv .features-_IOqVv .title-3KTIjF { color: #fff; }

#app-mount .applicationStore-1pNvnv .features-_IOqVv .row-1bU71H {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#app-mount .applicationStore-1pNvnv .memberInfo-1TAaKC {
    color: #fff;
    font-weight: 500;
}

#app-mount .applicationStore-1pNvnv .categoryHeader-1D7Tqy,
#app-mount .applicationStore-1pNvnv .sortFilterBar-3hePOV { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .applicationStore-1pNvnv .carouselItem-1qFCGP {
    padding: 0;
    top: 0;
}

#app-mount .applicationStore-1pNvnv .tile-QA_yMc {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .applicationStore-1pNvnv .tile-QA_yMc .title-2XwaXv,
#app-mount .applicationStore-1pNvnv .tile-QA_yMc .tagline-EIH5-W { color: #fff; }

#app-mount .applicationStore-1pNvnv .overlappingBorder-1-XPGl { border-color: rgba(var(--BG-gradient-one), 1); }

#app-mount .applicationStore-1pNvnv .perkTag-2O4dx4,
#app-mount .applicationStore-1pNvnv .lookFilled-1Gx00P.colorGreen-29iAKY,
#app-mount .applicationStore-1pNvnv .toggleCollapseButton-2wffKu,
#app-mount .applicationStore-1pNvnv .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .applicationStore-1pNvnv .footer-3oZnEF,
#app-mount .applicationStore-1pNvnv .filterBackground-QanGTJ:before { display: none; }

#app-mount .applicationStore-1pNvnv .searchBox-3Y2Vi7 {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .applicationStore-1pNvnv .searchBox-3Y2Vi7 input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount .applicationStore-1pNvnv .hideGames-zMTyGl { color: #fff; }

#app-mount .applicationStore-1pNvnv .checked-3_4uQ9 {
    border: none;
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
}

#app-mount .container-3gCOGc {
    background: transparent;
    position: relative;
}

#app-mount .container-3gCOGc .primary-3j8BhM,
#app-mount .container-3gCOGc .botTag-2WPJ74 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .container-3gCOGc .friendsTableHeader-32yE7d { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

#app-mount .container-3gCOGc .friendsTable-133bsv .friendsColumn-eVHFqJ { color: #fff; }

#app-mount .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud:hover {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud + .friendsRow-2yicud { border-top-color: rgba(255, 255, 255, 0.05); }

#app-mount .container-3gCOGc .friendsTable-133bsv .friendsAction-__WNE9 { background-color: rgba(255, 255, 255, 0.1); }

#app-mount .container-3gCOGc .friendsTable-133bsv .friendsAction-__WNE9:hover { background-color: rgba(255, 255, 255, 0.2); }

#app-mount .root-1BQpZw {
    background: transparent;
    position: relative;
    overflow: hidden;
}

#app-mount .root-1BQpZw .divider-3573oO { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .root-1BQpZw .input-cIJ7To {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .root-1BQpZw .input-cIJ7To::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}