﻿/* ---------- MEMBERS LIST START ---------- */

#app-mount .members-1998pB { background: transparent; }

#app-mount .members-1998pB .botTagRegular-2HEhHi { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .members-1998pB .layout-2DM8Md { background: transparent; }

#app-mount .members-1998pB .member-3-YXUe .botTag-2WPJ74 { font-weight: bold; }

#app-mount .members-1998pB .member-3-YXUe:hover { background: rgba(255, 255, 255, 0.1); }

#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 .roleColor-rz2vM0,
#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 .text-zpzAjW { color: #fff !important; }

#app-mount .members-1998pB .member-3-YXUe.selected-aXhQR6 .botTag-2WPJ74 {
    background: #fff !important;
    color: rgba(var(--BG-gradient-one), 1) !important;
    border-color: transparent !important;
}

#app-mount .members-1998pB .activity-2Gy-9S { color: rgba(255, 255, 255, 0.8); }

/* ---------- MEMBERS LIST END ---------- */

/* ---------- SEARCH RESULTS START ---------- */

#app-mount .searchResultsWrap-2DKFzt { background: rgba(0, 0, 0, 0.2); }

#app-mount .searchResultsWrap-2DKFzt .searchHeader-1l-wpR { background: rgba(0, 0, 0, 0.2); }

#app-mount .searchResultsWrap-2DKFzt .channelName-1QajIf { background: transparent; }

#app-mount .searchResultsWrap-2DKFzt .channelSeparator-1X1FuH:before { content: none; }

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB:before,
#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB:after { content: none; }

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB .attachment-33OFj0 {
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB pre {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    overflow: hidden;
}

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB pre code {
    background: transparent;
    overflow: hidden;
}

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB code { background: rgba(0, 0, 0, 0.5); }

#app-mount .searchResultsWrap-2DKFzt .jumpButton-Ia2hRJ { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)); }

#app-mount .searchResultsWrap-2DKFzt .searchResultMessage-2VxO12.hit-NLlWXA,
#app-mount .searchResultsWrap-2DKFzt .embedInner-1-fpTo {
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz {
    border: none;
    background: rgba(0, 0, 0, 0.2);
}

/* ---------- SEARCH RESULTS END ---------- */