﻿#app-mount .modal-yWgWj- .content-38qMG0 { padding-top: 20px; }

#app-mount .modal-3c3bKg {
    transition: none !important;
    transform: none !important;
    animation: fadeInTop 0.2s ease forwards;
}

#app-mount .modal-3c3bKg .input-cIJ7To,
#app-mount .modal-3c3bKg .cardPrimaryEditable-3KtE4g {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: #fff;
}

#app-mount .modal-3c3bKg .divider-3WKGWk,
#app-mount .modal-3c3bKg .divider-38zUJA { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .modal-3c3bKg .container-2XeR5Z { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-3c3bKg .botTag-2WPJ74 { font-weight: bold; }

#app-mount .modal-3c3bKg .botTagInvert-18-95s {
    color: rgba(var(--BG-gradient-one), 1);
    background: #fff !important;
}

#app-mount .modal-3c3bKg .lookInverted-2D7oAl.colorBrand-3pXr91 {
    font-weight: 600;
    color: rgba(var(--BG-gradient-one), 1);
}

#app-mount .modal-3c3bKg .message-2qRu38 {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    box-shadow: none;
}

#app-mount .modal-3c3bKg .message-2qRu38 pre {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    overflow: hidden;
}

#app-mount .modal-3c3bKg .message-2qRu38 pre code {
    background: transparent;
    overflow: hidden;
}

#app-mount .modal-3c3bKg .message-2qRu38 code { background: rgba(0, 0, 0, 0.5); }

#app-mount .modal-3c3bKg .lookFilled-1h1y05.select-1Pkeg4 {
    border: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .modal-3c3bKg .arrow-2KJjTM { color: #fff; }

#app-mount .modal-3c3bKg .removeOverride-2sdvVX {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

#app-mount .modal-3c3bKg .footer-2VgWkh { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-3c3bKg .checkbox-1ix_J3[style*="rgb(114, 137, 218)"] {
    border: none;
    background: #fff;
}

#app-mount .modal-3c3bKg .checkbox-1ix_J3[style*="rgb(114, 137, 218)"] polyline { stroke: rgba(var(--BG-gradient-one), 1); }

#app-mount .modal-3c3bKg .installSize-1eXbBX { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-3c3bKg .override-2YgiXd {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .modal-3c3bKg .override-2YgiXd > div:first-child {
    display: flex;
    align-items: center;
}

#app-mount .modal-3c3bKg .checkboxGroup-Z7AmuU .checkboxContainer-2vV9zd:before { background: rgba(255, 255, 255, 0.2); }

#app-mount .modal-yWgWj-.modal-1sor29 {
    background: transparent;
    box-shadow: none;
}

#app-mount .modal-yWgWj-.modal-1sor29 .header-2tA9Os,
#app-mount .modal-yWgWj-.modal-1sor29 .footer-3rDWdC {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .modal-yWgWj-.modal-1sor29 .selectable-x8iAUjmessage-content { padding-top: 20px; }

#app-mount .modal-yWgWj-.modal-1sor29 .content-8biNdB p { color: #fff; }

#app-mount .modal-yWgWj-.modal-1sor29 ul li { color: #fff; }

#app-mount .wrapper-2ZbzR9 { background: transparent; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb { background: transparent; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .header-3ZP1MY {
    background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .actionHeader-2CT5c7 { font-weight: bold; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .create-3jownz .actionHeader-2CT5c7 {
    background: linear-gradient(to right, rgba(var(--BG-gradient-one), 1) 0%, rgba(var(--BG-gradient-two), 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .slideBody-2nMrnU { background: transparent; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .slideBody-2nMrnU .action-1lSjCi {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    border: none;
    transition: 0.2s ease;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .slideBody-2nMrnU .action-1lSjCi:hover { background: rgba(0, 0, 0, 0.4); }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .slideBody-2nMrnU .actionBody-1qj65C { color: #fff; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .slideBody-2nMrnU .or-3THJsp { display: none; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .create-3jownz .actionButton-2PeQbJ { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .avatarUploaderInner-3UNxY3 { background-color: rgba(var(--BG-gradient-one), 1); }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .regionSelect-3lf4eE .regionSelectName-2-2FWh { color: #fff; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .regionSelect-3lf4eE .regionSelectInner-24f4Ce,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .regionSelect-3lf4eE button {
    border: none;
    background: rgba(0, 0, 0, 0.3);
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .regionSelect-3lf4eE button:hover { background: rgba(0, 0, 0, 0.4); }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .description-QF3836 { color: #fff; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .label-wQQoIq,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .helpText-h3r3wC {
    color: #fff;
    font-weight: 500;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .avatar-21196O {
    border: none;
    box-shadow: 0 0 15px #000;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .input-1mgnkM,
#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .input-UJ9Tr3 {
    border: none;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .footer-3rDWdC {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .footer-3rDWdC .lookFilled-1Gx00P.colorGreen-29iAKY { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .footer-3rDWdC .cancelButton-RGXhAE { color: #fff; }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .footer-3rDWdC .cancelButton-RGXhAE:before { filter: brightness(2); }

#app-mount .modal-yWgWj-.slide-2pHaq5.size-1XvbKb .footer-3rDWdC .cancelButton-RGXhAE:hover { border-bottom-color: #fff; }

#app-mount .regionSelectModal-12e-57 {
    background: transparent;
    position: relative;
    overflow: hidden;
}

#app-mount .regionSelectModal-12e-57 > div { position: relative; }

#app-mount .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 .regionSelectName-2-2FWh { color: #fff; }

#app-mount .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:hover { background: rgba(0, 0, 0, 0.4); }

#app-mount .modal-yWgWj- {
    background: transparent;
    box-shadow: none;
    position: relative;
    overflow: hidden;
}

#app-mount .modal-yWgWj- .tag-2gHSR7 { background: rgba(255, 255, 255, 0.1); }

#app-mount .modal-yWgWj- .sidebar-1-SQro { background: rgba(0, 0, 0, 0.4); }

#app-mount .modal-yWgWj- .mention {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    color: #fff !important;
    border: none !important;
    font-weight: 600 !important;
}

#app-mount .modal-yWgWj- .isMentioned-N-h9aa { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.3), rgba(var(--BG-gradient-two), 0.3)) !important; }

#app-mount .modal-yWgWj- .isMentioned-N-h9aa:after {
    background: transparent;
    border-color: rgba(var(--BG-gradient-one), 1);
}

#app-mount .modal-yWgWj- .reactors-Blmlhw { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-yWgWj- .reactorDefault-1IUqMZ { box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05); }

#app-mount .modal-yWgWj- .reactionSelected-1pqISm { background: rgba(255, 255, 255, 0.05); }

#app-mount .modal-yWgWj- .footer-3rDWdC {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .modal-yWgWj- .footer-3rDWdC .lookFilled-1Gx00P.colorBrand-3pXr91,
#app-mount .modal-yWgWj- .footer-3rDWdC .lookFilled-1Gx00P.colorGreen-29iAKY { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-yWgWj- .footer-3rDWdC .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-yWgWj- .lookFilled-1Gx00P.colorPrimary-3b3xI6 { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-yWgWj- .tiles-2aXG_k,
#app-mount .modal-yWgWj- .option-1l2vXE {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .modal-yWgWj- .tiles-2aXG_k .tile-2QWaFv,
#app-mount .modal-yWgWj- .option-1l2vXE .tile-2QWaFv { color: #fff; }

#app-mount .modal-yWgWj- .divider-1que2t { border-color: rgba(255, 255, 255, 0.1); }

#app-mount .modal-yWgWj- button.item-3T2z1R {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .modal-yWgWj- button.item-3T2z1R.selectorButtonSelected-1j4DmC { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-yWgWj- .imageSelected-4Kl81J { border-color: rgba(var(--BG-gradient-one), 1); }

#app-mount .modal-yWgWj- .boostCount-UFqabz {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important;
    color: #fff;
}

#app-mount .modal-yWgWj- .tierNoneContainer-3hhK3h,
#app-mount .modal-yWgWj- .barBackground-2EEiLw,
#app-mount .modal-yWgWj- .tierMarkerBackground-3q29am,
#app-mount .modal-yWgWj- .tierBody-16Chc9 { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-yWgWj- .tierHeaderUnlocked-1n-OTI,
#app-mount .modal-yWgWj- .tierMarkerAccomplished-2MiXeg,
#app-mount .modal-yWgWj- .barForeground-3KglC8,
#app-mount .modal-yWgWj- .lookFilled-1Gx00P.colorGreen-29iAKY { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .modal-yWgWj- .tierHeaderLocked-1s2JJz { background: rgba(0, 0, 0, 0.6); }

#app-mount .modal-yWgWj- .carouselRightGradientEdge-2Z3H8D { background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5)); }

#app-mount .modal-yWgWj- .carouselLeftGradientEdge-3P4spl { background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent); }

#app-mount .modal-yWgWj- .colorStandard-2KCXvj { color: #fff; }

#app-mount .root-SR8cQa > div { position: relative; }

#app-mount .root-SR8cQa .lookFilled-1Gx00P.colorGreen-29iAKY,
#app-mount .root-SR8cQa .topSectionSpotify-1lI0-P,
#app-mount .root-SR8cQa .botTag-2WPJ74 { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)); }

#app-mount .root-SR8cQa .lookInverted-2D7oAl.colorGreen-29iAKY {
    color: rgba(var(--BG-gradient-one), 1);
    font-weight: 600;
    background: #fff !important;
}

#app-mount .root-SR8cQa .topSectionNormal-2-vo2m { background: rgba(0, 0, 0, 0.3); }

#app-mount .root-SR8cQa .tabBarContainer-1s1u-z { border-top: none; }

#app-mount .root-SR8cQa .topSectionPlaying-1J5E4n { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)); }

#app-mount .root-SR8cQa .body-3ND3kc { background: transparent; }

#app-mount .root-SR8cQa .userInfoSection-2acyCx { border-color: rgba(0, 0, 0, 0.1); }

#app-mount .root-SR8cQa .userInfoSectionHeader-CBvMDh {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

#app-mount .root-SR8cQa .note-3kmerW textarea:focus { background: rgba(0, 0, 0, 0.3); }

#app-mount .root-SR8cQa .connectedAccount-36nQx7 {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .root-SR8cQa .connectedAccount-36nQx7 .connectedAccountName-f8AEe2 { color: #fff; }

#app-mount .uploadModal-2ifh8j { background: transparent; }

#app-mount .uploadModal-2ifh8j > div { position: relative; }

#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ {
    height: 145px;
    overflow-y: auto;
}

#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .contentTitle-2tG_sM,
#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .content-Qb0rXO { color: #fff; }

#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .description-11DmNu,
#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .descriptionUsername-J_75O8 {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .divider-23swzi { background: rgba(255, 255, 255, 0.1); }

#app-mount .uploadModal-2ifh8j .autocompleteInner-zh20B_ .descriptionDiscriminator-3vUOCc {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}

#app-mount .uploadModal-2ifh8j .inner-3nWsbo { border: none; }

#app-mount .uploadModal-2ifh8j .inner-zqa7da { background: rgba(0, 0, 0, 0.3); }

#app-mount .uploadModal-2ifh8j .inner-zqa7da textarea { color: #fff; }

#app-mount .uploadModal-2ifh8j .checkbox-1ix_J3.checked-3_4uQ9 polyline { stroke: rgba(var(--BG-gradient-one), 1); }

#app-mount .uploadModal-2ifh8j .file-34mY5K {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

#app-mount .uploadModal-2ifh8j .file-34mY5K .icon-kyxXVr {
    min-width: 60px;
    height: 90px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    background-size: cover;
    margin-left: 15px;
    border-color: rgba(var(--BG-gradient-one), 1);
}

#app-mount .uploadModal-2ifh8j .file-34mY5K .description-2ug5H_ {
    padding: 0;
    height: auto;
    margin-left: 15px;
}

#app-mount .uploadModal-2ifh8j .footer-3mqk7D { background: rgba(0, 0, 0, 0.3); }

#app-mount .uploadModal-2ifh8j .footer-3mqk7D .lookInverted-2D7oAl.colorBrand-3pXr91 {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1));
    color: #fff;
    font-weight: 600;
}

#app-mount .quickswitcher-3JagVE {
    background: transparent;
    box-shadow: none;
}

#app-mount .quickswitcher-3JagVE .input-2VB9rf {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .quickswitcher-3JagVE .input-2VB9rf::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

#app-mount .quickswitcher-3JagVE .scrollerOuter-3FLELE { margin-top: 10px; }

#app-mount .quickswitcher-3JagVE .resultFocused-3aIoYe { background: rgba(0, 0, 0, 0.3); }

#app-mount .keyboardShortcutsModal-3piNz7 { background: transparent; }

#app-mount .keyboardShortcutsModal-3piNz7 .keybindDescription-2RDbC2 { color: #fff; }

#app-mount .keyboardShortcutsModal-3piNz7 > h1 { position: relative; }

#app-mount .keyboardShortcutsModal-3piNz7 > div:not(.ddrArrows-lSnH7P) {
    position: relative;
    border-color: rgba(0, 0, 0, 0.1);
}

#app-mount .uploadModalIn-1z07Bv .bgScale-1otPtc { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1), rgba(var(--BG-gradient-two), 1)); }

#app-mount .uploadModalIn-1z07Bv .inner-3nWsbo { border: none; }

#app-mount .root-1gCeng.small-3iVZYw {
    background: transparent;
    box-shadow: none;
    animation: fadeInTop 0.2s ease forwards;
}

#app-mount .root-1gCeng.small-3iVZYw .input-cIJ7To {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .root-1gCeng.small-3iVZYw .footer-3rDWdC {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .bd-modal-wrapper .bd-modal { animation: fadeInBottom 0.2s ease forwards; }

#app-mount .bd-modal-wrapper.closing .bd-modal { animation: fadeOutBottom 0.2s ease forwards; }

#app-mount .bd-modal-inner {
    border: none;
    box-shadow: none;
    overflow: hidden;
    position: fixed;
    max-width: 1000px;
    margin: 0 var(--BG-window-padding);
    width: 100%;
}

#app-mount .bd-modal-inner .header,
#app-mount .bd-modal-inner .tab-bar-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
}

#app-mount .bd-modal-inner .bd-modal-body { background: transparent; }

#app-mount .bd-modal-inner .table-header { border: none; }

#app-mount .bd-modal-inner .error {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    margin-bottom: 15px;
    padding: 15px;
}

#app-mount .bd-modal-inner .error:last-child { margin-bottom: 0; }

#app-mount .bd-modal-inner .footer { position: relative; }

#app-mount .bd-modal-inner .footer button {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    color: #fff !important;
}