body.hidden-by-OTB .container-1r6BKw { padding: 0 8px !important; }

#app-mount .foldercontent { border-radius: 0; }

#app-mount .foldercontent:before {
    left: calc(var(--BG-image-blur) / -1 * 3);
    width: calc(100% + var(--BG-image-blur) * 6);
}

#app-mount .reply-button { transition: none; }

#app-mount .reply-list {
    background: transparent;
    overflow: hidden;
}

#app-mount .reply-list:before { z-index: 1; }

#app-mount .reply-list div,
#app-mount .reply-list svg:not(.reply-clear) {
    position: relative;
    z-index: 1;
}

#app-mount .reply-list svg.reply-clear {
    z-index: 1;
    top: 0;
    right: 0;
    padding: 10px;
}

#app-mount .reply-list svg.reply-clear:hover { background: rgba(255, 255, 255, 0.1); }

#app-mount .reply-list .reply-item { background: rgba(255, 255, 255, 0.1); }

#app-mount #dv-mount { background: transparent; }

#app-mount #dv-main { border-color: rgba(255, 255, 255, 0.1); }

#app-mount #bfredux { margin-right: 0; }

#app-mount #bfredux img { opacity: 1; }

#app-mount #bfredux:before { background: rgba(0, 0, 0, 0.5); }

#app-mount .popout-googletranslate .themedPopout-1TrfdI {
    background: transparent;
    box-shadow: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: fadeInTop 0.2s ease forwards;
}

#app-mount .popout-googletranslate .themedPopout-1TrfdI > div:nth-child(3) .css-bdfdb-menuOuter.inChat { top: calc(100% + 300px) !important; }

#app-mount .popout-googletranslate .themedPopout-1TrfdI > div:nth-child(5) .css-bdfdb-menuOuter.inChat { top: calc(100% + 200px) !important; }

#app-mount .popout-googletranslate .themedPopout-1TrfdI > div:nth-child(5) .css-bdfdb-menuOuter.inChat .css-1ye7vu0 { height: 200px; }

#app-mount .popout-googletranslate .themedPopout-1TrfdI > div:nth-child(7) .css-bdfdb-menuOuter.inChat .css-1ye7vu0 { height: 250px; }

#app-mount #MemberCount {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    position: relative;
}

#app-mount #MemberCount + .membersGroup-v9BXpm { margin-top: 0; }

#app-mount .dst-tooltip {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    width: 225px;
    top: 0 !important;
    left: 0 !important;
}

#app-mount .BDFDB-notice { border-radius: 0 !important; }

#app-mount .BDFDB-notice .dismiss-SCAH9H {
    right: unset;
    left: 0;
}

#app-mount .markup-2BOw-j[style*="color: rgb(0, 0, 1);"] { color: #fff !important; }

#app-mount #bd-settingspane-container .ui-switch { background: rgba(255, 255, 255, 0.1); }

#app-mount #bd-customcss-detach-container {
    margin-top: 20px;
    background: transparent;
}

#app-mount #bd-customcss-detach-container .ace-monokai { background: rgba(0, 0, 0, 0.3); }

#app-mount #bd-customcss-detach-container #bd-customcss-innerpane > div {
    position: relative;
    z-index: 2;
}

#app-mount #bd-customcss-detach-container:before { z-index: 1; }

#app-mount #bd-customcss-editor { background: rgba(0, 0, 0, 0.3); }

#app-mount .ace_gutter-cell { color: #fff; }

#app-mount .ace-monokai .ace_gutter { background: rgba(0, 0, 0, 0.4); }

#app-mount .ace_gutter-active-line,
#app-mount .ace_active-line { background: rgba(255, 255, 255, 0.05); }

#app-mount #bd-customcss-attach-controls {
    background: rgba(0, 0, 0, 0.57);
    box-shadow: none;
}

#app-mount #bd-customcss-attach-controls button {
    background: rgba(255, 255, 255, 0.05);
    border: none !important;
}

#app-mount #bd-customcss-attach-controls button:hover { background: rgba(255, 255, 255, 0.1); }

#app-mount #bd-customcss-attach-controls .help-text { font-size: 12px; }

#app-mount #bd-customcss-attach-controls .help-text code,
#app-mount #bd-customcss-attach-controls .help-text span {
    font-size: 12px;
    background: rgba(255, 255, 255, 0.1);
}

#app-mount .ace_selection { background: rgba(255, 255, 255, 0.15); }

#app-mount #editor-detached button { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .backdrop-1wrmKB { background: rgba(0, 0, 0, 0.95) !important; }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ { border-color: rgba(var(--BG-gradient-one), 1); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ p { color: rgba(var(--BG-gradient-one), 1); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ .downloadButton-1bWXpg { background: rgba(var(--BG-gradient-one), 1); }

#app-mount .downloadApps-wbBFdZ .header-nJMe-Q { color: #fff; }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb {
    -webkit-mask-size: cover;
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
}

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb.apple-1fKN59 { -webkit-mask: url(https://canary.discordapp.com/assets/7ddab19e24325212299490c2f413b122.svg); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb.windows-29yOum { -webkit-mask: url(https://canary.discordapp.com/assets/37ce528f3abf4d735a624309e990acc6.svg); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb.linux-15cW1y { -webkit-mask: url(https://canary.discordapp.com/assets/f8e3f6e7b2cf5f10aed43243560a1b91.svg); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb.ios-Z7K-rr { -webkit-mask: url(https://canary.discordapp.com/assets/00a1b0447f0474ecaa767a4bc09fe2ed.svg); }

#app-mount .downloadApps-wbBFdZ .active-iLSdWQ.icon-2Pk7pb.android-gGrHJu { -webkit-mask: url(https://canary.discordapp.com/assets/676bfec9f4343f6fcdf0a12ae313a3de.svg); }

#app-mount .container-16j22k { background: var(--BG-image) center/cover fixed; }

#app-mount .container-16j22k .content-1-zrf2 {
    position: relative;
    padding: 0 25px 35px 25px;
    border-radius: var(--BG-window-roundness);
}

#app-mount .container-16j22k .content-1-zrf2 > * { position: relative; }

#app-mount .container-16j22k .problems-3mgf6w {
    background: rgba(0, 0, 0, var(--BG-right-brightness));
    text-align: center;
    padding-top: 30px;
}

#app-mount .container-16j22k .problems-3mgf6w a { margin: 0 15px; }

#app-mount .container-16j22k .problems-3mgf6w a .icon-3N9Bhy { display: none !important; }

#app-mount .container-16j22k .problems-3mgf6w a:before { content: none; }

#app-mount .container-16j22k { background-color: #000; }

.typeMacOS-3EmCyP.titleBar-AC4pGV {
    top: var(--BG-window-padding);
    left: var(--BG-window-padding);
}

html.platform-osx .wrapper-1Rf91z {
    margin-top: 0;
    padding-top: 32px;
}

.typeWindows-1za-n7 {
    height: 9px;
    margin-top: 0;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    background: transparent;
}

.winButtonClose-1HsbF- { border-top-right-radius: var(--BG-window-roundness); }

.winButton-iRh8-Z {
    position: relative;
    top: calc(var(--BG-window-padding) - 1px);
    right: calc(var(--BG-window-padding) - 1px);
    height: 48px;
    width: 40px;
}

.winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover { background: rgba(255, 255, 255, 0.1); }

.platform-win .container-1r6BKw { padding-right: 125px; }

.wordmarkWindows-1v0lYD { display: none; }

.app-19_DXt.platform-osx .notice-2FJMB4 .dismiss-SCAH9H {
    left: auto !important;
    right: 0 !important;
}

#app-mount .notice-2FJMB4 { overflow: hidden; }

#app-mount .notice-2FJMB4:before {
    height: calc(100% + var(--BG-image-blur) * 4);
    width: calc(100% + var(--BG-image-blur) * 5);
    left: calc(var(--BG-image-blur) / -1 * 3);
    top: calc(var(--BG-image-blur) / -1 * 2);
    z-index: -1;
}

#app-mount .notice-2FJMB4.toast-danger:before,
#app-mount .notice-2FJMB4.toast-error:before,
#app-mount .notice-2FJMB4 .noticeDanger-7u-yT9:before { box-shadow: inset 0 0 0 10000px rgba(144, 43, 43, 0.7); }

#app-mount .notice-2FJMB4.toast-default:before,
#app-mount .notice-2FJMB4.noticeDefault-362Ko2:before { box-shadow: inset 0 0 0 10000px rgba(145, 61, 20, 0.7); }

#app-mount .notice-2FJMB4.toast-facebook:before,
#app-mount .notice-2FJMB4.noticeFacebook-3equ5g:before { box-shadow: inset 0 0 0 10000px rgba(32, 48, 82, 0.7); }

#app-mount .notice-2FJMB4.toast-info:before,
#app-mount .notice-2FJMB4.noticeInfo-3_iTE1:before { box-shadow: inset 0 0 0 10000px rgba(44, 86, 136, 0.7); }

#app-mount .notice-2FJMB4.toast-premium:before,
#app-mount .notice-2FJMB4.noticePremium-12Zvj9:before { box-shadow: inset 0 0 0 10000px rgba(19, 20, 22, 0.7); }

#app-mount .notice-2FJMB4.toast-spotify:before,
#app-mount .notice-2FJMB4.noticeSpotify-27dhr0:before { box-shadow: inset 0 0 0 10000px rgba(17, 111, 50, 0.7); }

#app-mount .notice-2FJMB4.toast-streamermode:before,
#app-mount .notice-2FJMB4.noticeStreamerMode-2TSQpg:before { box-shadow: inset 0 0 0 10000px rgba(53, 32, 89, 0.7); }

#app-mount .notice-2FJMB4.toast-success:before,
#app-mount .notice-2FJMB4.noticeSuccess-3Y62ob:before { box-shadow: inset 0 0 0 10000px rgba(40, 109, 77, 0.7); }

#app-mount .notice-2FJMB4.toast-warning:before,
#app-mount .notice-2FJMB4.toast-warn:before { box-shadow: inset 0 0 0 10000px rgba(153, 100, 0, 0.7); }

#app-mount .notice-2FJMB4 .dismiss-SCAH9H { left: 0; }

#app-mount .errorPage-u8SYh4 > div { position: relative; }

#app-mount .noChannel-Z1DQK7 { background: transparent; }

#app-mount .splashBackground-1FRCko { background: transparent; }

#app-mount .splashBackground-1FRCko .rightSplit-2US0xy img { display: none; }

#app-mount .splashBackground-1FRCko .authBox-hW6HRx {
    position: relative;
    overflow: hidden;
}

#app-mount .splashBackground-1FRCko .authBox-hW6HRx .subTitle-3TUjmF {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

#app-mount .splashBackground-1FRCko .authBox-hW6HRx .h5-18_1nd { color: #fff; }

#app-mount .splashBackground-1FRCko .authBox-hW6HRx .input-cIJ7To {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .splashBackground-1FRCko .authBox-hW6HRx .input-cIJ7To::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

#app-mount .splashBackground-1FRCko canvas { display: none; }