﻿#app-mount .autocomplete-1vrmpx { background: transparent; }

#app-mount .autocomplete-1vrmpx .selectorSelected-1_M1WV { background: rgba(0, 0, 0, 0.2); }

#app-mount .autocomplete-1vrmpx .header-1TOWci { box-shadow: none; }

#app-mount .autocomplete-1vrmpx .header-1TOWci .container-cMG81i { background: rgba(0, 0, 0, 0.2); }

#app-mount .autocomplete-1vrmpx .input-3Xdcic { color: #fff; }

#app-mount .autocomplete-1vrmpx .categoryFadeBlurple-1j72_A { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 0.8) 20%, rgba(var(--BG-gradient-two), 0.8)); }

#app-mount .autocomplete-1vrmpx .result-3w1ZcL { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .autocomplete-1vrmpx .result-3w1ZcL:hover:after { box-shadow: inset 0 0 0 2px rgba(var(--BG-gradient-one), 1), inset 0 0 0 3px #2f3136; }

#app-mount .autocomplete-1vrmpx .focused-1En8bG:after { box-shadow: inset 0 0 0 2px rgba(var(--BG-gradient-two), 1), inset 0 0 0 3px #2f3136; }

#app-mount .popout-2iWAc- {
    box-shadow: none;
    border: none;
}

#app-mount .option-96V44q:after { content: none; }

#app-mount .container-3ayLPN {
    box-shadow: none;
    position: fixed;
    background: transparent;
    margin-left: -165px;
}

#app-mount .container-3ayLPN .option-96V44q .filter-3Y_im-,
#app-mount .container-3ayLPN .option-96V44q .displayedNick-3xxvzU { color: #fff; }

#app-mount .container-3ayLPN .option-96V44q .answer-1n6g43,
#app-mount .container-3ayLPN .option-96V44q .displayUsername-Qekxml {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

#app-mount .container-3ayLPN .option-96V44q.selected-rZcOL- { background: rgba(0, 0, 0, 0.4); }

#app-mount .container-3ayLPN .option-96V44q.selected-rZcOL-:after { content: none; }

#app-mount .container-3ayLPN .resultsGroup-r_nuzN:before { border-top-color: rgba(0, 0, 0, 0.3); }

#app-mount .container-3ayLPN .header-2N-gMV {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
#app-mount .bda-settings-button { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .popoutRight-1veHKi .userPopout-3XzG_A {
    margin-left: 0;
    animation: fadeInRight 0.2s ease forwards !important;
}

#app-mount .popoutLeft-3aViER .userPopout-3XzG_A { animation: fadeInLeft 0.2s ease forwards !important; }

#app-mount .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI { transform: none !important; }

#app-mount .animatorRight-3i_YPs .userPopout-3XzG_A { margin-left: 0 !important; }

#app-mount .userPopout-3XzG_A {
    box-shadow: none;
    position: relative;
    margin-left: -270px;
    margin-top: -1px;
    opacity: 0;
    animation: fadeInRight 0.2s ease forwards !important;
}

#app-mount .userPopout-3XzG_A .headerPlaying-j0WQBV,
#app-mount .userPopout-3XzG_A .headerSpotify-zpWxgT { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .userPopout-3XzG_A .botTagInvert-18-95s {
    color: rgba(var(--BG-gradient-one), 1);
    font-weight: bold;
}

#app-mount .userPopout-3XzG_A .headerNormal-T_seeN,
#app-mount .userPopout-3XzG_A .body-3iLsc4 { background: transparent; }

#app-mount .userPopout-3XzG_A .rolesList-22qj2L {
    max-height: 300px;
    overflow-y: auto;
}

#app-mount .userPopout-3XzG_A .bodyTitle-Y0qMQz {
    color: #fff;
    font-weight: 500;
}

#app-mount .userPopout-3XzG_A .note-3kmerW textarea::placeholder { color: #fff; }

#app-mount .userPopout-3XzG_A .note-3kmerW textarea:focus { background: rgba(0, 0, 0, 0.3); }

#app-mount .userPopout-3XzG_A .role-2irmRk {
    height: auto;
    position: relative;
    overflow: hidden;
    color: #fff;
}

#app-mount .userPopout-3XzG_A .role-2irmRk .roleCircle-3xAZ1j::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: inherit;
    opacity: .2;
    z-index: -1;
}

#app-mount .userPopout-3XzG_A .footer-1fjuF6 {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0;
}

#app-mount .userPopout-3XzG_A .footer-1fjuF6 .quickMessage-2XpSaN {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    color: #fff;
    margin: 10px;
    width: 92%;
}

#app-mount .userPopout-3XzG_A .footer-1fjuF6 .quickMessage-2XpSaN::placeholder { color: #fff; }

#app-mount .userPopout-3XzG_A .footer-1fjuF6 .protip-YaFfgO { display: none; }

#app-mount .layer-v9HyYc[style*="left: 332px;"] .userPopout-3XzG_A { margin-left: 0; }

#app-mount .noArrow-2foL9g.popout-2iWAc-.popoutRight-1veHKi.arrowAlignmentTop-1yftWI.theme-undefined .userPopout-3XzG_A { margin-left: 0; }

#app-mount .autocompleteShadow-iiGWFU { box-shadow: none; }

#app-mount .autocompleteHeaderBackground-30T70q { background: transparent; }

#app-mount .header-2bNvm4 .headerText-3i6A8K { color: #fff; }

#app-mount .header-2bNvm4 .input-1ppKdn { color: #fff; }

#app-mount .header-2bNvm4 .input-1ppKdn::placeholder { color: rgba(255, 255, 255, 0.5); }

#app-mount .sectionTag-pXyto9 { background: transparent; }

#app-mount .autocompleteShadow-iiGWFU:before { box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, calc(var(--BG-popout-brightness) + 0.125)); }

#app-mount .sectionTag-pXyto9 .row-rrHHJU.selected-1pIgLL { background: rgba(0, 0, 0, 0.3); }

#app-mount .filterBrowsingSelectPopout-2kjxuc { background: transparent; }

#app-mount .menu-Sp6bN1 {
    background: transparent;
    box-shadow: none;
    overflow: hidden;
}

#app-mount .menu-Sp6bN1 > div {
    position: relative;
    z-index: 1;
}

#app-mount .menu-Sp6bN1 .item-1GzJrl { color: #fff; }

#app-mount .menu-Sp6bN1 .item-1GzJrl .helper-2c73HK {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount .menu-Sp6bN1 .item-1GzJrl:hover { background: rgba(255, 255, 255, 0.05); }

#app-mount .menu-Sp6bN1 .separator-2zcjq8 { border-bottom-color: rgba(255, 255, 255, 0.1); }

#app-mount .menu-Sp6bN1 .separator-2zcjq8:last-of-type { border-bottom: none; }

#app-mount .menu-Sp6bN1:before { box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, calc(var(--BG-left-brightness) + 0.1)); }

#app-mount .layer-v9HyYc[style*="top: 76px;"] .menu-Sp6bN1 .item-1GzJrl:first-of-type { color: var(--nitro); }

#app-mount .layer-v9HyYc[style*="top: 76px;"] .menu-Sp6bN1 .item-1GzJrl.invite-271nFU { color: var(--blurple); }

#app-mount .layer-v9HyYc[style*="top: 76px;"] .menu-Sp6bN1 .item-1GzJrl.leave-1DRJfn { color: var(--red); }

#app-mount .messagesPopoutWrap-1MQ1bW .container-2XeR5Z { background: rgba(0, 0, 0, 0.3); }

#app-mount .messagesPopoutWrap-1MQ1bW .container-2XeR5Z input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy {
    background: transparent;
    box-shadow: none;
    margin-left: -430px;
    margin-top: 50px;
    position: absolute;
}

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .container-2XeR5Z { background: rgba(0, 0, 0, 0.3); }

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .container-2XeR5Z input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .defaultColor-1_ajX0,
#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .subtitle-2P4u9v { color: #fff; }

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .friendSelected-3J_Uh8 { background: rgba(255, 255, 255, 0.1); }

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .separator-3gy7tq { box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1); }

#app-mount .modal-yWgWj-.popout-103y-5.sizeSmall-1jtLQy .footerSeparator-M9dQY1 { box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1); }

#app-mount .queryContainer-RKFJW-.focused-2bY0OD {
    background: transparent;
    overflow: hidden;
    border: none;
}

#app-mount .queryContainer-RKFJW-.focused-2bY0OD:before { box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, calc(var(--BG-left-brightness) + 0.05)); }

#app-mount .emojiPicker-3m1S-j {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    animation: fadeIn 0.2s ease forwards;
}

#app-mount .emojiPicker-3m1S-j .container-2XeR5Z { background: rgba(255, 255, 255, 0.05); }

#app-mount .emojiPicker-3m1S-j .stickyHeader-1SS0JU { background: #000; }

#app-mount .emojiPicker-3m1S-j .infoBar-U6oBFk { background: transparent; }

.da-emojiPicker .da-category { background: transparent !important; }

#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W {
    background: transparent;
    position: fixed;
    margin-left: -100px;
    animation: fadeIn 0.2s ease forwards;
}

#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W .regionSelectName-c5qL8O { color: #fff; }

#app-mount .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W .check-2by_h9 { filter: brightness(2); }

#app-mount .container-2x5lvQ {
    background: transparent;
    box-shadow: none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    animation: fadeIn 0.2s ease forwards;
}

#app-mount .container-2x5lvQ header { background: rgba(0, 0, 0, 0.6); }

#app-mount .container-2x5lvQ section { background: rgba(0, 0, 0, 0.3); }

#app-mount .container-2x5lvQ .sparkline-3A-8OK circle { fill: rgba(var(--BG-gradient-one), 1) !important; }

#app-mount .container-2x5lvQ .sparkline-3A-8OK polyline {
    fill: rgba(var(--BG-gradient-two), 0.2) !important;
    stroke: rgba(var(--BG-gradient-two), 1) !important;
}

#app-mount .container-3cGP6G {
    background: transparent;
    margin-left: -70px;
    animation: fadeInBottom 0.2s ease forwards;
    padding: 0;
    min-width: 80px;
    position: fixed;
}

#app-mount .container-3cGP6G .itemGroup-1tL0uz { border-top-color: rgba(255, 255, 255, 0.1); }

#app-mount .container-3cGP6G .item-2J1YMK {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}

#app-mount .container-3cGP6G .item-2J1YMK:hover { background: rgba(0, 0, 0, 0.2); }

#app-mount .contextMenu-HLZMGh {
    background: var(--BG-image) center/cover fixed;
    box-shadow: inset 0 0 0 300px rgba(0, 0, 0, calc(var(--BG-popout-brightness) + .2));
}

#app-mount .contextMenu-HLZMGh .itemGroup-1tL0uz { border-top-color: rgba(255, 255, 255, 0.1); }

#app-mount .contextMenu-HLZMGh .itemGroup-1tL0uz:first-child .item-1Yvehc:first-child { border-radius: 5px 7px 0 0; }

#app-mount .contextMenu-HLZMGh .itemGroup-1tL0uz:last-child .item-1Yvehc:last-child { border-radius: 0 0 7px 5px; }

#app-mount .contextMenu-HLZMGh .bar-2Qqk5Z { background: rgba(255, 255, 255, 0.3); }

#app-mount .contextMenu-HLZMGh .barFill-23-gu- { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .contextMenu-HLZMGh .item-1Yvehc {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}

#app-mount .contextMenu-HLZMGh .item-1Yvehc:hover { background: rgba(255, 255, 255, 0.1); }

#app-mount .contextMenu-HLZMGh .contextMenu-HLZMGh .item-1Yvehc:first-child { border-radius: 7px 0 0 0 !important; }

#app-mount .contextMenu-HLZMGh .contextMenu-HLZMGh .item-1Yvehc:last-child { border-radius: 0 0 7px 5px !important; }

#app-mount .messagesPopoutWrap-1MQ1bW {
    box-shadow: none;
    border: none;
    background: transparent;
    overflow: hidden;
    position: absolute;
    margin-left: -400px;
    animation: fadeInBottom 0.2s ease forwards;
}

#app-mount .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

#app-mount .messagesPopoutWrap-1MQ1bW pre {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    overflow: hidden;
}

#app-mount .messagesPopoutWrap-1MQ1bW pre code {
    background: transparent;
    overflow: hidden;
}

#app-mount .messagesPopoutWrap-1MQ1bW code { background: rgba(0, 0, 0, 0.5); }

#app-mount .messagesPopoutWrap-1MQ1bW .actionButtons-1sUUug {
    box-shadow: none;
    background: transparent;
}

#app-mount .messagesPopoutWrap-1MQ1bW .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    color: #fff;
}

#app-mount .messagesPopoutWrap-1MQ1bW [class*="timestamp"] { color: rgba(255, 255, 255, 0.5); }

#app-mount .messagesPopoutWrap-1MQ1bW .messageGroupWrapper-o-Zw7G {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .messagesPopoutWrap-1MQ1bW .footer-1kmXd4 { background: rgba(0, 0, 0, 0.3); }

#app-mount .popout-2sKjHu {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: none;
    border: none;
}

#app-mount .popout-2sKjHu .optionActive-KkAdqq { background: rgba(255, 255, 255, 0.1); }

#app-mount .popout-2sKjHu .optionNormal-12VR9V:hover { background: rgba(255, 255, 255, 0.05); }

#app-mount .overflowRolesPopout-140n9i {
    background: transparent;
    border: none;
    box-shadow: none;
    position: relative;
}

#app-mount .overflowRolesPopout-140n9i .overflowRolesPopoutHeaderText-1SW-y3 {
    color: #fff;
    font-weight: 500;
}

#app-mount .overflowRolesPopout-140n9i svg path { fill: #fff; }

#app-mount .membersFilterPopout-URUUD- {
    background: transparent;
    box-shadow: none;
    position: absolute;
    animation: fadeInBottom 0.2s ease forwards;
    margin-left: -100px;
}

#app-mount .membersFilterPopout-URUUD- .container-cMG81i { background: rgba(0, 0, 0, 0.3); }

#app-mount .membersFilterPopout-URUUD- .container-cMG81i .input-3Xdcic { color: #fff; }

#app-mount .membersFilterPopout-URUUD- .container-cMG81i .input-3Xdcic::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}

#app-mount .membersFilterPopout-URUUD- .selectableItem-1MP3MQ:hover { background: rgba(0, 0, 0, 0.3); }

#app-mount .membersFilterPopout-URUUD- .selectableItem-1MP3MQ[style*="rgb(114, 137, 218)"] { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important; }

#app-mount .colorPickerCustom-2CWBn2 {
    background: transparent;
    border: none;
    animation: fadeInTop 0.2s ease forwards;
    position: absolute;
    margin-left: -115px;
}

#app-mount .colorPickerCustom-2CWBn2 .input-cIJ7To {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

#app-mount .addGamePopout-2RY8Ju {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: none;
}

#app-mount .addGamePopout-2RY8Ju .css-mhi7q3-placeholder { opacity: 1; }

#app-mount .datePicker--XZbmJ .react-datepicker { background: transparent; }

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__header { background: transparent; }

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__header .react-datepicker__current-month {
    color: #fff;
    border-bottom: none;
}

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__day.react-datepicker__day--selected:after { background: rgba(var(--BG-gradient-one), 1); }

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__day {
    border-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__day:hover { background: rgba(var(--BG-gradient-one), 1); }

#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__day.react-datepicker__day--disabled,
#app-mount .datePicker--XZbmJ .react-datepicker .react-datepicker__day[class*="--outside-month"] { background: rgba(0, 0, 0, 0.3); }

#app-mount .datePicker--XZbmJ .react-datepicker .datePickerHint-3Q1Udw { border-top-color: rgba(255, 255, 255, 0.1); }

#app-mount .datePicker--XZbmJ .hintValue-29ny8Z { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .incomingCallInner-2VmFiR {
    background: rgba(0, 0, 0, 0.8);
    border: none;
}

#app-mount .incomingCallInner-2VmFiR .lookFilled-1Gx00P.colorGreen-29iAKY { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE {
    background: transparent;
    box-shadow: none;
    position: fixed;
    margin-left: -170px;
    animation: fadeInBottom 0.2s ease forwards;
}

#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE .divider-3573oO { background: rgba(255, 255, 255, 0.1); }

#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE .container-cMG81i { background: rgba(0, 0, 0, 0.3); }

#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE .selectableItem-1MP3MQ:hover { background: rgba(0, 0, 0, 0.3); }

#app-mount .guildSettingsAuditLogsUserFilterPopout-3Jg5NE .selectableItem-1MP3MQ[style*="rgb(114, 137, 218)"] { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)) !important; }