#app-mount .wrapper-1Rf91z {
    background: transparent;
    border-radius: var(--BG-window-roundness) 0 0 var(--BG-window-roundness);
    position: relative !important;
    height: 100% !important;
}

#app-mount .wrapper-1Rf91z .childWrapper-anI2G9,
#app-mount .wrapper-1Rf91z .mention-1f5kbO,
#app-mount .wrapper-1Rf91z .button-OhfaWu { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .wrapper-1Rf91z .listItem-2P_4kh:first-child { margin-top: 10px; }

#app-mount .wrapper-1Rf91z .childWrapper-anI2G9 { color: #fff; }

#app-mount .wrapper-1Rf91z .folder-21wGz3 { background: transparent !important; }

#app-mount .wrapper-1Rf91z .expandedFolderBackground-2sPsd- {
    background: rgba(0, 0, 0, 0.3);
    min-height: 48px;
}

#app-mount .wrapper-1Rf91z .dragInner-_SHftW { background: rgba(255, 255, 255, 0.15); }

#app-mount .wrapper-1Rf91z .wrapper-21YSNc { padding-bottom: 1px; }

#app-mount .wrapper-1Rf91z .noIcon-1a_FrS { background: rgba(255, 255, 255, 0.1); }

#app-mount .wrapper-1Rf91z .expandedGuilds-1JMD4M {
    margin-bottom: 8px;
    padding-bottom: 2px;
}

#app-mount .wrapper-1Rf91z .guildSeparator-3s64Iy { background: rgba(255, 255, 255, 0.2); }

#app-mount .wrapper-1Rf91z .wrapper-21YSNc + .listItem-2P_4kh { margin-top: 10px; }

#app-mount .wrapper-1Rf91z .acronym-2mOFsV { background: rgba(0, 0, 0, 0.3); }

#app-mount .wrapper-1Rf91z .circleIconButton-jET_ig {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.2s ease !important;
}

#app-mount .wrapper-1Rf91z .circleIconButton-jET_ig svg path { fill: rgba(var(--BG-gradient-one), 1) !important; }

#app-mount .wrapper-1Rf91z .circleIconButton-jET_ig.selected-ugP_am { background: transparent; }

#app-mount .wrapper-1Rf91z .circleIconButton-jET_ig:hover { background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1)); }

#app-mount .wrapper-1Rf91z .circleIconButton-jET_ig:hover svg path { fill: #fff !important; }

#app-mount .wrapper-1Rf91z .guildsError-b7zR5H,
#app-mount .wrapper-1Rf91z .guildIconUnavailable-5PMHDN {
    opacity: .5;
    border: none;
    background: linear-gradient(var(--BG-gradient-direction), rgba(var(--BG-gradient-one), 1) 20%, rgba(var(--BG-gradient-two), 1));
    transition: 0.1s ease;
}

#app-mount .wrapper-1Rf91z .guildsError-b7zR5H:hover,
#app-mount .wrapper-1Rf91z .guildIconUnavailable-5PMHDN:hover { opacity: 1; }

#app-mount .wrapper-1Rf91z.foldercontent { left: 0; }